<h1><%=@recipe.name%></h1>

Ingredients: 
<ul>
    <% @recipe.ingredients.split("\r\n").each do |ing| %>
    <li>
    <%= ing %>
    </li>
    <% end %>
</ul>

Instructions: 
<ul>
    <% @recipe.instructions.split("\r\n").each do |ins| %>
    <li>
    <%= ins %>
    </li>
    <% end %>
</ul>
<br>

<p><em>Made by: <%= @user %></em></p>

<% if !@recipe.reviews.blank? %><h4><u>Reviews (<%= @recipe.reviews.count %>)</u></h4><% end %>

<% @recipe.reviews.each do |r| %>
<% reviewer = User.find(r.user_id).username %>
<p><b><%= reviewer %></b>: <br> "<em><%= r.content %></em>" <%= link_to "Delete Review", review_path(r), method: :delete if reviewer == current_user.username %></p>
<% end %>
<br><br><br>
<p><%= button_to "Delete Recipe", recipe_path(@recipe), method: :delete if @recipe.user_id == current_user.id %></p>