<h1><%=@recipe.name%></h1>

Ingredients: 
<ul>
    <% @recipe.ingredients.split("\r\n").each do |ing| %>
    <li>
    <%= ing %>
    </li>
    <% end %>
</ul>

Instructions: 
<ul>
    <% @recipe.instructions.split("\r\n").each do |ins| %>
    <li>
    <%= ins %>
    </li>
    <% end %>
</ul>
<br><br>

<% if !@recipe.reviews.blank? %><h5>Reviews from other users</h5><% end %>

<% @recipe.reviews.each do |r| %>
"<em><%= r.content %></em>"<br>
<% end %>

<p><%= button_to "Delete Recipe", recipe_path(@recipe), method: :delete if @recipe.user_id == current_user.id %></p>