<h1><%=@recipe.name%></h1>

Ingredients: 
<ul>
    <% @recipe.ingredients.split("\r\n").each do |ing| %>
    <li>
    <%= ing %>
    </li>
    <% end %>
</ul>

Instructions: 
<ul>
    <% @recipe.instructions.split("\r\n").each do |ins| %>
    <li>
    <%= ins %>
    </li>
    <% end %>
</ul>
<br>

<p><em>Made by: <%= @user %></em></p>

<%=link_to "Add Review", new_recipe_review_path(@recipe)%>
<br><br><br>
<h3><u><%= pluralize(@reviews.count, "Review") %></u></h3>

<% @recipe.reviews.each do |review| %>
<% reviewer = User.find(review.user_id).username %>
    <p><u><%= reviewer %></u>: "<em><%= review.content %></em>" <% if review.user_id == current_user.id %> <%= link_to "delete", review_path(review), data: { method: :delete } %> <% end %></p>
<% end %>

<br><br>
<p><%= button_to "Delete Recipe", recipe_path(@recipe), method: :delete if @recipe.user_id == current_user.id %></p>