<!DOCTYPE html>
<html>
  <head>
    <title>MyMeals</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
    <br>
      <% if logged_in? %>
        <%= link_to "Add a Recipe", new_recipe_path %> |
        <%= link_to "All Recipes", recipes_path %> |
        <%= link_to "Leave a Review", new_review_path %> |
        <%= link_to "All Reviews", reviews_path %> |
        <%= link_to "Log Out", logout_path, method: "delete" %>

        <p>Logged in as: <%= link_to current_user.username, user_path(current_user) %></p>
      <% else %>
        <%= link_to "Sign Up", '/signup' %> |
        <%= link_to "Log In", '/login' %> |
        <%= link_to "Log In with Google", '/auth/google_oauth2', method: 'post' %>
      <% end %>
    </div>

    <div>
      <p><% if flash[:message] %><%= flash[:message] %><% end %></p>
    </div>
    
    <%= yield %>
  </body>
</html>
